<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relaçao de alunos da turma técnico em 
        desenvolvimento de software - 2019/2020</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    <h1>Relaçao de alunos</h1>
    <ul>
        <li v-for="aluno in alunos" style="list-style-type: square;">
            {{aluno.nome}}
        </li>
    </ul>
    <div id="caixa">
    <input type="text" placeholder="Usuário" v-model="login">
    <input type="text" placeholder="Senha" v-model="senha">
    <button @click="Logar" id="btnEntrar" >Logar</button><br>
    
    </div>
    <table style="border: 1px solid grey;">
        <thead style="background-color: #dcdcdc;">
            <th>Código</th>
            <th>Nome</th>
        </thead>
        <tbody>
            <tr v-for="aluno in alunos">
                <td>{{aluno.codigo}}</td>
                <td>{{aluno.nome}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
        let app = new Vue({
            el: '#app',
            data:{
                alunos:[{
                    codigo:1,
                    nome:"Alice"
                }, {
                    codigo:2,
                    nome: "Bruna"
                },{
                    codigo:3,
                    nome: "Gabriel"
                }]
            }, methods:{
                salvar: function(){
                    this.alunos.push();
                }
            }
        })
    </script>
    
</body>
</html>