body{
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif;
}   
h1{
    font-size: 30px;
    margin: 10px 5px 0 60px;
    color: #1E9585;
}
#subtitulo {
    font-size: 13px;
    margin: 10px 5px 0 60px;
    color: #9BABB7;
}